<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--
    <property name="connection.url">jdbc:mysql://localhost:3306/russia_data</property>
    <property name="connection.username">mazars</property>
    <property name="connection.password">aknesom</property>
    -->
    <!-- JDBC connection pool (use the built-in) -->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">300</property>
    <!--property name="connection.pool_size">1</property-->
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    <!-- Drop and re-create the database schema on startup -->
    <!--    <property name="hbm2ddl.auto">validate</property> -->
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="ConfigProperty.hbm.xml"/>
    <mapping resource="ContentItem.hbm.xml"/>
    <mapping resource="Activity.hbm.xml"/>
    <mapping resource="ActivitySectorGroup.hbm.xml"/>
    <mapping resource="ActivitySector.hbm.xml"/>
    <mapping resource="Client.hbm.xml"/>
    <mapping resource="Country.hbm.xml"/>
    <mapping resource="Department.hbm.xml"/>
    <mapping resource="Employee.hbm.xml"/>
    <mapping resource="Group.hbm.xml"/>
    <mapping resource="GroupHistoryItem.hbm.xml"/>
    <mapping resource="Office.hbm.xml"/>
    <mapping resource="ProjectCodeComment.hbm.xml"/>
    <mapping resource="Position.hbm.xml"/>
    <mapping resource="ProjectCode.hbm.xml"/>
    <mapping resource="ProjectCodeApprovement.hbm.xml"/>
    <mapping resource="StandardPosition.hbm.xml"/>
    <mapping resource="Subdepartment.hbm.xml"/>
    <mapping resource="TaskType.hbm.xml"/>
    <mapping resource="Task.hbm.xml"/>
    <mapping resource="TimeSpentItem.hbm.xml"/>
    <mapping resource="BusinessTripItem.hbm.xml"/>
    <mapping resource="AnnualPaidLeave.hbm.xml"/>
    <mapping resource="EmployeePositionHistoryItem.hbm.xml"/>
    <mapping resource="EmployeeSubdepartmentHistoryItem.hbm.xml"/>
    <mapping resource="EmployeeProjectCodeAccessItem.hbm.xml"/>
    <mapping resource="EmployeeContactLink.hbm.xml"/>
    <mapping resource="NaturalPerson.hbm.xml"/>
    <mapping resource="SubdepartmentClientLink.hbm.xml"/>
    <mapping resource="ContactClientLink.hbm.xml"/>
    <mapping resource="ClientActivitySectorLink.hbm.xml"/>
    <mapping resource="ClientHistoryItem.hbm.xml"/>
    <mapping resource="ContactHistoryItem.hbm.xml"/>
    <mapping resource="Module.hbm.xml"/>
    <mapping resource="RightsItem.hbm.xml"/>
    <mapping resource="ClosedMonth.hbm.xml"/>
    <mapping resource="Freeday.hbm.xml"/>
    <mapping resource="Holiday.hbm.xml"/>
    <mapping resource="ISOCountry.hbm.xml"/>
    <mapping resource="Contact.hbm.xml"/>
    <mapping resource="Language.hbm.xml"/>
    <mapping resource="LeavesItem.hbm.xml"/>
    <mapping resource="Currency.hbm.xml"/>
    <mapping resource="Salary.hbm.xml"/>
    <mapping resource="CountryCurrency.hbm.xml"/>
    <mapping resource="FeesItem.hbm.xml"/>
    <mapping resource="PositionQuotation.hbm.xml"/>
    <mapping resource="FeesAdvance.hbm.xml"/>
    <mapping resource="FeesInvoice.hbm.xml"/>
    <mapping resource="FeesPayment.hbm.xml"/>
    <mapping resource="InvoiceRequestPacket.hbm.xml"/>
    <mapping resource="InvoiceRequestPacketHistoryItem.hbm.xml"/>
    <mapping resource="InvoiceRequest.hbm.xml"/>
    <mapping resource="InvoiceRequestItem.hbm.xml"/>
    <mapping resource="ActRequest.hbm.xml"/>
    <mapping resource="ActRequestItem.hbm.xml"/>
    <mapping resource="TaxInvoiceRequest.hbm.xml"/>
    <mapping resource="OutOfPocketRequest.hbm.xml"/>
    <mapping resource="OutOfPocketRequestHistoryItem.hbm.xml"/>
    <mapping resource="FeesAct.hbm.xml"/>
    <mapping resource="OutOfPocketItem.hbm.xml"/>
    <mapping resource="OutOfPocketInvoice.hbm.xml"/>
    <mapping resource="OutOfPocketPayment.hbm.xml"/>
    <mapping resource="OutOfPocketAct.hbm.xml"/>
    <mapping resource="Agreement.hbm.xml"/>
    <mapping resource="NotificationItem.hbm.xml"/>
    <mapping resource="StandardSellingRateGroup.hbm.xml"/>
    <mapping resource="StandardSellingRate.hbm.xml"/>
    <mapping resource="StandardCostGroup.hbm.xml"/>
    <mapping resource="StandardCost.hbm.xml"/>
    <mapping resource="Action.hbm.xml"/>
    <mapping resource="ActionParameter.hbm.xml"/>
    <mapping resource="JobResult.hbm.xml"/>
    <mapping resource="PlanningItem.hbm.xml"/>
    <mapping resource="PlanningGroup.hbm.xml"/>
    <mapping resource="PlanningType.hbm.xml"/>
    <mapping resource="PlanningGroupToProjectCodeLink.hbm.xml"/>
    <mapping resource="Mailout.hbm.xml"/>
    <mapping resource="MailoutTemplate.hbm.xml"/>
    <mapping resource="MailoutRecipient.hbm.xml"/>
    <mapping resource="MailoutHistoryItem.hbm.xml"/>
    <mapping resource="ProjectCodeConflict.hbm.xml"/>
    <mapping resource="ProjectCodeConflictHistoryItem.hbm.xml"/>
    <mapping resource="SubdepartmentConflict.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
